*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4f1cb;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

.container {
    margin-top: 100px;
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
}


input, button {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 40px;
    margin-top: 20px;
}

button {
    border: none;
    background-color: #fa7f72;
    color: #e4f1cb;
    transition: filter .2s;
}

button:hover {
    background-color: white;
    color: #fa7f72;
    cursor: pointer;
}

.error {
    border: 2px #f44336 !important;
}

.error::placeholder {
    color: #f44336;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
    font-size: 30px;
    background-color: white;
    color: #fa7f72;
    text-align: center;
}

.task-item i {
    color: #f44336;
    padding: 12px;
}

.completed {
    text-decoration: line-through;
}

.task-item i:hover {
    cursor: pointer;
}

.task-item:hover {
    cursor: pointer;
}